<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subscriptz</title>
  <link  rel="stylesheet" href="assets/css/styleLogin.css"></link>
  <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    /> -->
</head>
<body>

  <div class="flex-container">
    <div class="content-container">
      <div class="form-container">
        <form action="/login" method="POST">
        
          <h1 style="margin-top: -5rem;">
            🤠 Login 
          </h1>
          <% if( error !="" ){ %>
            <div
              class="alert alert-danger alert-dismissible fade show"
              role="alert"
              style="color: whitesmoke; padding-top: 0.5rem;"
            >
              <strong> Error: </strong>
              <%= error %>
            </div>
            <% } %>
            <% if( error_message !="" ){ %>
              <div
              class="alert alert-danger alert-dismissible fade show"
              role="alert"
              style="color: whitesmoke; padding-top: 0.5rem;"
            >
              <strong> Error: </strong>
              <%= error %>
            </div>
              <% } %>
          <br>
          <br>
          <span class="subtitle">📧 EMAIL:</span>
          <br>
          <input type="email" name="email" value="">
          <br>
          <span class="subtitle">📍 PASSWORD:</span>
          <br>
          <input type="password" name="password" value="">
          <br><br>
          <input type="submit" value="SUBMIT" class="submit-btn">
          <p style="color: blanchedalmond;">New here? <a href="/signup" style="color: chartreuse;">Register Now</a></p>

        </form>
      </div>
    </div>
  </div>
</body>
</html>