<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subscriptz</title>
  <link  rel="stylesheet" href="assets/css/Signup.css"></link>
</head>
<body>

  <div class="flex-container">
    <div class="content-container">
      <div class="form-container">
        <form action="/signup" method="POST">
        
          <h1>
            😍 SignUp
          </h1>
          <br>
          <% if(typeof err !='undefined' ){ %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="color: whitesmoke; padding-top: 0.5rem;">
                <strong> Error: </strong>
                <%= err %>
            </div>
            <% } %>
          <br>
          <span class="subtitle">EMAIL:</span>
          <br>
          <input type="email" name="email" value="">
          <br>
          <span class="subtitle">USERNAME:</span>
          <br>
          <input type="text" name="username" value="">
          <br>
          <span class="subtitle">PASSWORD:</span>
          <br>
          <input type="password" name="password" value="">
          <br>
          <span class="subtitle">CONFIRM PASSWORD:</span>
          <br>
          <input type="password" name="confirmpassword" value="">
          <br><br>
          <input type="submit" value="SUBMIT" class="submit-btn">
          <p style="color: blanchedalmond;">Already Registered? <a href="/login" style="color: chartreuse;">Login Here</a></p>

        </form>
      </div>
    </div>
  </div>
</body>
</html>